@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?oea5kc');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?oea5kc#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?oea5kc') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?oea5kc') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?oea5kc##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-text {
  &:before {
    content: $icon-text;     
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-bottom {
  &:before {
    content: $icon-arrow-bottom; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}

