$icomoon-font-family: "tds" !default;
$icomoon-font-path: "../fonts" !default;

$icon-text: "\e900";
$icon-arrow-right: "\e901";
$icon-arrow-left: "\e902";
$icon-arrow-bottom: "\e903";
$icon-twitter: "\ea96";

