@import "../../assets/scss/helpers/variables.scss";

.metodologia {
  $black: #2D2D2D;
  $red: $color-default;
  
  .metodologia-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 130px 100px;
    .metodologia-title {
      color: #fff;
      font-size: 110px;
      font-weight: 200;
      line-height: 1.1;
    }
    .metodologia-subtitle {
      margin-bottom: 50px; 
      color: #fff;
      font-size: 110px;
      font-weight: bold;
      line-height: 1.1;
    }
    .metodologia-text {
      width: 930px;
      max-width: 100%;
      p, a {
        color: #fff;
        font-size: 32px;
        line-height: 1.3;
      }
    }
    .metodologia-img {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      img {
        display: block;
        align-items: stretch;
        max-width: 100%;
        height: auto;
      }
    }
    
    &.white{
      .metodologia-title {
        color: $black;
      }
      .metodologia-subtitle {
        color: $red;
      }
      .metodologia-text {
        p, a {
          color: $black;
        }
      }
    }
    &.black{
      background-color: $black;
      .metodologia-subtitle {
        color: $red;
      }
    }
    &.red{
      background-color: $red;
    }
    
    &.is-img {
      justify-content: flex-start;
      .metodologia-title {
        font-size: 70px;
      }
      .metodologia-subtitle {
        margin-bottom: 20px;
        color: $black;
        font-size: 70px;
      }
    }
    
    &.no_margin {
      padding: 0;
    }
    
  }
  
  
  @media (min-width:$width-mobile) and (max-width:$width-desktop-small) {
    
    .metodologia-container {
      padding: 70px;
      .metodologia-title {
        font-size: 70px;
        line-height: 1;
      }
      .metodologia-subtitle {
        margin-bottom: 25px;
        font-size: 70px;
        line-height: 1;
      }
      .metodologia-text {
        width: 600px;
        p, a {
          font-size: 20px;
        }
      }
      &.is-img {
        .metodologia-title {
          font-size: 50px;
        }
        .metodologia-subtitle {
          margin-bottom: 15px;
          font-size: 50px;
        }
      }
    }
    
  } 
  
  @media (max-width:$width-mobile) {
    .metodologia-container {
      min-height: initial;
      padding: 50px 25px;
      .metodologia-title {
        font-size: 30px;
        line-height: 1;
      }
      .metodologia-subtitle {
        margin-bottom: 15px;
        font-size: 30px;
        line-height: 1;
      }
      .metodologia-text {
        width: 100%;
        p, a {
          font-size: 16px;
        }
      }
      &.is-img {
        display: none;
      }
    }
  }  
  
  
}