@import "../../assets/scss/helpers/variables.scss";


.intro {
  transition: 1s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background: $color-default;
  overflow: hidden;

  &.hide {
    display: none !important;
  }
  
  
  .intro-logo {
    position: relative;
    transition: .5s;
    top: 100px;
    left: 100px;
    z-index: 3;
    opacity: 0;
    position: absolute;
    max-width: 100%;
  }
  
  
  .intro-text {
    position: absolute;
    top: 50%;
    left: 100px;
    z-index: 1;
    transform: translateY(-40%);
    width: 1100px;
    max-width: 100%;
    p{
      transition: .8s;
      color: #fff;
      font-size: 127px; 
      transform: translateX(30px);
      opacity: 0;
      b {
        transition: 1s;
        font-weight: bold;
        opacity: 0;
      }
      span{
        transition: 1s;
        opacity: 0;
      }
    }
  }
  
}

.loading-page {
  .intro {
    .intro-logo {
      opacity: 1;
    }
    .intro-text {
      p{
        opacity: 1;
        transform: translateX(0px);
        transition-delay: .2s;
        b{
          transition-delay: .5s;
          opacity: 1;
        }
        span {
          transition-delay: .8s;
          opacity: 1;
        }
      }
    }
  }
}

.loaded-page {
  .intro {
    transition: 1s 2.6s;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    .intro-logo {
      transition: 1s 1.8s;
      opacity: 0;
    }
    .intro-text {
      transition: .8s 1.2s;
      opacity: 0;
    }
  }
}