@import "../../assets/scss/helpers/variables.scss";

.pessoas {
  
  .pessoas-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 160px 40px 130px;
    .pessoas-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .pessoas-img {
        flex-shrink: 0;
        margin-right: 150px;
        img {
          width: 500px;
          max-width: 100%;
        }
      }
      .pessoas-content {
        p{
          font-size: 40px;
          line-height: 1.3;
        }
      }
    }
  }
  
  .pessoas-boss {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    .pessoas-boss-info {
      position: absolute;
      right: 60px;
      bottom: 80px;
      z-index: 1;
      text-align: right;
      text-shadow: 1px 1px 3px #000;
      h2 {
        color:#fff;
        font-size: 75px;
        line-height: 1.2;
      }
      p {
        color:#fff;
        font-size: 44px;
        line-height: 1.2;
      }
    }
    &.silvio {
      background-image: url("../../assets/img/pessoas/silvio.jpg");
    }
    &.sergio {
      background-image: url("../../assets/img/pessoas/sergio.png");
    }
    
    &.fixed {
      background-attachment: fixed; 
    }
    
  }
  
  .pessoas-our {
    height: auto;
    min-height: 100vh;
    
    .pessoas-our-container{
      padding: 100px;
    }
    
    h2 {
      margin-bottom: 70px;
      font-size: 94px;
      font-weight: normal;
      b {
        color: $color-default;
      }
    }
    
    .pessoas-our-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-left: -25px;
      margin-right: -25px;
    }
    
    .pessoas-our-item{
      $itemSize: 115px; 
      position: relative;
      display: flex;
      flex-direction: column;
      width: $itemSize;
      margin: 0 25px 20px;
      .avatar {
        position: relative;
        z-index: 2;
        width: $itemSize;
        height: $itemSize;
        margin-bottom: 10px;
        border-radius: 50%;
        background: #ccc;
        overflow: hidden;
        img {
          transition: .2s;
          opacity: 0.05;
        }
      }
      p {
        transition: .3s;
        opacity: 0;
        transform: translateY(-15px) scale(0.8);
        font-size: 22px;
        line-height: 1.2;
        text-align: center;
      }
      
      &:before {
        transition: .3s;
        content:'';
        position: absolute;
        width: $itemSize;
        height: $itemSize;
        border-radius: 50%;
        z-index: 0;
        transform: scale(.8);
        background-color: $color-default;
      }
      &:hover {
        .avatar {
          img {
            opacity: 1;
          }
        }
        p {
          transition-delay: .2s;
          opacity: 1;
          transform: translateY(2px) scale(1);
        }
        &:before {
          transform: scale(1.15);
        }
      }
      
    }
    
  }
  
  .pessoas-contact {
    background-color: $color-default;
    
    .pessoas-contact-logo {
      display: flex;
      justify-content: center;
      align-content: center;
      img {
        align-self: center;
        width: 700px;
        max-width: 100%;
      }
    }
    
    .pessoas-contact-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      background-color: #AF0B42;
      .pessoas-contact-content-container {
        width: 400px;
        max-width: 100%;
        padding: 20px;
        margin: 0 auto;
      }
      p,a {
        color: #fff;
        font-size: 30px;
        line-height: 1.3;
        font-weight: 200;
      }
      p {
        margin-bottom: 35px;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    
  }
  
  @media (min-width:$width-mobile) and (max-width:$width-desktop-small) {
    .pessoas-info {
      .pessoas-container {
        .pessoas-img {
          margin-right: 50px;
          img {
            width: 400px;
          }
        } 
        .pessoas-content {
          p {
            font-size: 24px;
          }
        } 
      } 
    } 
    .pessoas-boss {
      .pessoas-boss-info {
        h2 {
          font-size: 45px;
        }
        p {
          font-size: 24px;
        }
      }
    }
    .pessoas-our {
      .pessoas-our-container {
        padding: 70px;
      }
      
      h2 {
        margin-bottom: 50px;
        font-size: 54px;
      }
      
      .pessoas-our-item{
        $itemSize: 80px; 
        width: $itemSize;
        margin: 0 15px 15px;
        .avatar {
          width: $itemSize;
          height: $itemSize;
        }
        p {
          font-size: 18px;
        }
        &:before {
          width: $itemSize;
          height: $itemSize;
        }
      }
      
    }
    
    .pessoas-contact {
      .pessoas-contact-logo{
        img {
          width: 400px;
        }
      } 
      .pessoas-contact-content {
        p, a {
          font-size: 18px;
        }
      }
    }
    
  }
  
  
  @media (max-width:$width-mobile) {
    .full-screen {
      height: auto !important;
    }
    .pessoas-info {
      padding: 50px 50px;
      .pessoas-container {
        flex-direction: column;
        .pessoas-img {
          margin: 0 0 30px;  
          img {
            width: 80%;
          }
        } 
        .pessoas-content {
          p {
            font-size: 16px;
          }
        } 
      } 
    } 
    
    .pessoas-boss {
      padding-top: 65vw;
      background-attachment: initial !important;
      background-position: center;
      
      
      .pessoas-boss-info {
        right: 30px;
        bottom: 20px;
        h2 {
          margin-bottom: 5px;
          font-size: 24px;
          line-height: 1;
        }
        p {
          font-size: 18px;
          line-height: 1;
        }
      }
      
    }
    
    
    .pessoas-our {
      .pessoas-our-container {
        padding: 40px 25px;
      }
      h2 {
        margin-bottom: 30px;
        font-size: 44px;
      }
      .pessoas-our-list {
        padding: 0 5vw; 
      }
      .pessoas-our-item{
        $itemSize: 20vw; 
        width: $itemSize;
        margin: 0 5vw 15px;
        .avatar {
          width: $itemSize;
          height: $itemSize;
        }
        p {
          font-size: 14px;
        }
        &:before {
          width: $itemSize;
          height: $itemSize;
        }
      }
    }

    .pessoas-contact {
      flex-direction: column;
      .pessoas-contact-logo {
        margin: 30px;
      }
      .pessoas-contact-content {
        flex-basis: 100%;
        max-width: 100%;
        .pessoas-contact-content-container {
          width: 100%;
          padding: 40px 20px;
        }
        p {
          margin-bottom: 20px;
        }
        p,a {
          font-size: 16px;
        }
      }
    }
    
    
  }
  
  
}