@font-face {
  font-family: 'SF Pro Display';
  src: url('../../fonts/SFProDisplay-Semibold.eot');
  src: url('../../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
      url('../../fonts/SFProDisplay-Semibold.woff') format('woff'),
      url('../../fonts/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../../fonts/SFProDisplay-Light.eot');
  src: url('../../fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/SFProDisplay-Light.woff2') format('woff2'),
      url('../../fonts/SFProDisplay-Light.woff') format('woff'),
      url('../../fonts/SFProDisplay-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../../fonts/SFProDisplay-Regular.eot');
  src: url('../../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../fonts/SFProDisplay-Regular.woff2') format('woff2'),
      url('../../fonts/SFProDisplay-Regular.woff') format('woff'),
      url('../../fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
