.grid{
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  &.grid-gap{
    margin-left: -$gutter;
    margin-right: -$gutter;
    .col,
    [class*="col-"]{
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }
}
.col{
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
@for $i from 1 through $cols{
  .col-#{$i}{
    flex-basis: 100% / $cols * $i;
    max-width: 100% / $cols * $i;
  }
}
@for $i from 1 through $cols{
  .offset-#{$i}{
    margin-left: 100% / $cols * $i;
  }
}
