@import "../../assets/scss/helpers/variables";
// @import "../../assets/scss/icons/style";
// @import "../../assets/scss/layout/fonts";


.manifest {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh !important;
  transition: 1s;
  
  
  &.manifest-menu{
    position: fixed;
    transform: translateY(-110%);
    z-index: -1;
    &.active {
      transform: translateY(0);
    }
    &.loaded {
      z-index: 99999;
    }
  }
  
  
  .owl-carousel {
    .owl-nav {
      >div{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        z-index: 1;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: rgba(#000, 0.3);
        outline: none;
        color: #fff;
        // font-family: '#{$icomoon-font-family}' !important;
        font-size: 13px;
        span {
          display: none;
        }
        
        &.owl-prev{
          left: 37px;
          &:before {
            // content: $icon-arrow-left;
          }
        }
        &.owl-next{
          right: 37px;
          &:before {
            // content: $icon-arrow-right;
          }
        }
        &:hover {
          background-color: rgba(#000, 0.6);
        }
        &.disabled{
          opacity: .15;
        }
      }
    }
  }
  
  .manifest-list {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .manifest-card {
    display: block;
    position: relative;
    width:100%;
    height: 100vh;
    overflow: hidden;
    
    .manifest-card-info{
      transition: .5s;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 2;
      width: 450px;
      max-width: 100%;
      padding: 0 37px;
      transform: translateY(-30vh);
      .manifest-card-title{
        transition: .5s;
        margin-bottom: 30px;
        color: #fff;
        font-weight: 600;
        font-size: 53px;
      }
      .manifest-card-text{
        p{
          transition: .5s;
          color: #fff;
          font-size: 26px;
        }
      }
    }
    
    @each $label, $color in $manifest-list {
      &.manifest-card-#{$label} {
        background: #{$color};
      }
    }
    
    img {
      transition: 1s .25s;
      position: absolute;
      z-index: 0;
      width: auto;
      max-width: initial;
    }
    
    &.manifest-card-metodologia {
      .el-1{  
        left: 0;
        top: 10px;
        transform: translateX(-33%);
      }
      .el-2{
        bottom: 20px; 
        right: -110%;
      }
      &.visible {
        .el-2{
          right: 30px;
        } 
      }
    }
    &.manifest-card-pessoas {
      .el-1{  
        left: -550px;
        top: 20px;
      }
      .el-2{
        top: 20px; 
        right: 0px;
        transform: translateX(32%);
      }
      &.visible {
        .el-1{
          left: 20px;
        } 
      }
    }
    &.manifest-card-cultura {
      .el-1{  
        left: -1px;
        top: 50%;
        transform: translateY(-70%);
      }
      .el-2{
        bottom: 20px; 
        right: -110%;
      }
      &.visible {
        .el-2{
          right: -1px;
        } 
      }
    }
    &.manifest-card-governanca {
      .el-1{
        left: -1px;
        top: 50%;
        transform: translateY(-60%);
      }
      .el-2{
        top: -1px;
        left: 50%;
        transform: translateX(-50%);  
      }
      .el-3{
        bottom: 20px;
        right: -110%;
      }
      &.visible {
        .el-3{
          right: -1px;
        }
      }
    }
    &.manifest-card-futuros {
      .el-1{
        top: 10px;
        right: -1px;
      }
      .el-2{
        left: -110%;
        top: 130px;
      }
      
      &.visible {
        .el-2{
          left: -1px;
        }
      }
    }
    &.manifest-card-plataformas {
      .el-1{
        left: -1px;
        top: 50%;
        transform: translateY(-30%);
      }
      .el-2{
        top: -1%;
        right: -110%;
      }
      
      &.visible {
        .el-2{
          right: 140px;
        }
      }
      
    }
    &.manifest-card-estrategias {
      .el-1{
        top: -5px;
        left: 50%;
        transform: translateX(-43%);
      }
      
      &.visible {
        .el-1{
          transform: translateX(-50%);
        }
      }
      
    }
    &.manifest-card-negocios {
      .el-1{
        left: -1px;
        top: 50%;
        transform: translateY(-55%);
      }
      .el-2{  
        bottom: 40px;
        right: -110%;
      }
      
      &.visible {
        .el-2{  
          right: -1px;
        }
      }
      
    }
    &.manifest-card-concorrencias {
      .el-1{ 
        top: -1px;
        left: -1px;
      }
      .el-2{
        left: 105%; 
        bottom:300px;
      }
      
      &.visible {
        .el-2{
          left: 55%; 
        }
      }
      
    }
    &.manifest-card-parcerias {
      .el-1{
        left: -1px;
        top: 50%;
        transform: translateY(-60%);
      }
      .el-2{
        top: 20px;
        right: -100%; 
      }
      
      &.visible {
        .el-2{
          right: 80px; 
        }
      }
      
    }
    &.manifest-card-indicadores {
      .el-1{
        top: -1px;
        right: -1px;
      }
      .el-2{
        left: -110%;
        top: 50%;
        transform: translateY(-55%);
      }
      
      &.visible {
        .el-2{
          left: -1px;
        }
      }
    }
    &.manifest-card-criatividade {
      .el-1{
        top: -1px;
        right: -1px;
      }
      .el-2{
        left: -110%;
        top: 50%;
        transform: translateY(-55%);
      }
      
      &.visible {
        .el-2{
          left: -1px;
        }
      }
      
    }
    &.manifest-card-riscos {
      .el-1{
        top: -1px;
        left: -1px;
      }
      .el-2{
        right: -110%;
        bottom: -1px;
      }
      
      &.visible {
        .el-2{
          right: 50px;
        }
      }
      
    }
    &.manifest-card-continuum{
      .el-1{
        top: 0;
        right: -1px;
        transform: translateX(75%);
      }
      
      &.visible {
        .el-1{
          transform: translateX(20%);
        }
      }
      
    } 
    
    &.visible {
      .manifest-card-info{
        padding: 0 100px; 
        width: 680px;
        transform: translateY(-150%);
        .manifest-card-title{
          font-size: 100px;
        }
        .manifest-card-text{
          p{
            font-size: 34px;
          }
        }
      }
    }   
    
    &.card-open {
      transition: 1s;
      position: fixed;
      top: 0;
      width: 33.33vw;
      z-index: 3;
      overflow: hidden;
      &.visible {
        left: 0 !important;
        width: 100vw;
      }
    }
    
  }
  
  
  @media (min-width:$width-mobile) and (max-width:$width-desktop-small) {
    
    .manifest-card {
      
      .manifest-card-info {
        .manifest-card-title {
          font-size: 3vw !important;
          margin-bottom: 10px;
        }
        .manifest-card-text {
          p {
            font-size: 1.8vw !important;
          }
        }
      } 
      
      &.visible {
        .manifest-card-info{
          transform: translateY(-200%);
        }
      }
      
      &.manifest-card-metodologia {
        .el-1{  
          width: 220px;
        }
        .el-2{
          width: 140px;
        }
      }
      &.manifest-card-pessoas {
        .el-1{  
          width: 280px;
        }
        .el-2{
          width: 220px;
        }        
      }
      
      &.manifest-card-cultura {
        .el-1{ 
          width: 200px;
          transform: translateY(-83%);
        }
        .el-2{
          width: 140px;
        }
      }
      &.manifest-card-governanca {
        .el-1,
        .el-2{
          width: 160px;
        }
        .el-3{
          width: 130px;
        }
      }
      &.manifest-card-futuros {
        .el-1,
        .el-2{
          width: 100px;
        }
        
      }
      &.manifest-card-plataformas {
        .el-1,
        .el-2{
          width: 190px;
        }
        .el-1 {
          transform: translateY(-60%);
        }
      }
      &.manifest-card-estrategias {
        .el-1{
          top: -45px;
          width: 1260px;
          min-width: 100%;
        }
        
      }
      &.manifest-card-negocios {
        .el-1{
          width: 170px;
        }
        .el-2{  
          width: 70px;
        }
        
      }
      &.manifest-card-concorrencias {
        .el-1{ 
          width: 300px;
        }   
        .el-2{
          width: 280px;
        }
        
      }
      &.manifest-card-parcerias {
        .el-1{
          transform: translateY(-90%);
          width: 180px;
        }
        .el-2{
          width: 120px;
        }
        
      }
      &.manifest-card-indicadores {
        .el-1{
          width: 380px;
        }
        .el-2{
          width: 40px;
        }
        
      }
      &.manifest-card-criatividade {
        .el-1{
          width: 380px;
        }
        .el-2{
          width: 100px;
        }
        
      }
      &.manifest-card-riscos {
        .el-1{
          width: 260px;
        }
        .el-2{
          width: 200px;
        }
        
      }
      &.manifest-card-continuum{
        .el-1{
          width: 600px;
        }
        
      } 
    } 
  } 
  
  @media (max-width:$width-mobile) {
    .manifest-list {
      display: block;
      height: auto;
      overflow: initial;
    }
    
    .el-1,
    .el-2,
    .el-3,
    .el-4 {
      zoom: 0.5;
    }
    
    .manifest-card {
      .manifest-card-info {
        top: initial;
        bottom: 120px!important;
        transform: translateY(0%) !important;
        width: 450px !important;
        .manifest-card-title {
          margin-bottom: 10px !important;
          font-size: 32px !important;
        }
        .manifest-card-text {
          p{
            font-size: 18px !important  ;
          }
        }
      }
      
      
      &.manifest-card-metodologia {
        .el-2{
          display: none;
        } 
      }
      &.manifest-card-pessoas {
        .el-1{
          display: none;
        } 
      }
      &.manifest-card-cultura {
        .el-2{
          display: none;
        } 
      }
      &.manifest-card-governanca {
        .el-3{
          display: none;
        }
      }
      &.manifest-card-futuros {
        .el-2{
          display: none;
        }
      }
      &.manifest-card-plataformas {
        .el-2{
          display: none;
        }
      }
      &.manifest-card-estrategias {
        .el-2{
          display: none;
        }
        
      }
      &.manifest-card-negocios {
        .el-2{  
          display: none;
        }
        
      }
      &.manifest-card-concorrencias {
        .el-2{
          display: none;
        }
        
      }
      &.manifest-card-parcerias {
        .el-2{
          display: none;
        }
        
      }
      &.manifest-card-indicadores {
        .el-1 {
          zoom: 0.4;
        }
        .el-2{
          display: none;
        }
      }
      &.manifest-card-criatividade {
        .el-2{
          display: none;
        }
      }
      &.manifest-card-riscos {
        .el-2{
          display: none;
        }
      }
      &.manifest-card-continuum{
        .el-1{
          transform: translateX(75%) !important;
        }
        
      } 
      
      &.visible {
        .manifest-card-info {
          padding: 0 37px;
        }
      }   
      
      &.card-open {
        width: 100vw;
      }
      
    }
    
    .owl-carousel {
      .owl-nav {
        button {
          transform: scale(0.7) translateY(-50%);
          &.owl-prev {
            left: 5px;
          }
          &.owl-next {
            right: 5px;
          }
        }
      }
    } 
    
  }
  
}

