@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@import "./assets/scss/helpers/variables";
@import "./assets/scss/layout/grid.scss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  height: 100vh;
  background-color: #fff;
  -webkit-font-smoothing: antialiased !important;
  overflow: auto;
  overflow-x: hidden;
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}


a{
  text-decoration: none;
}

.wrap{
  width: 100%;
  height: 100vh;
}


.container {
  display: flex;
  width: 1200px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.wrap{
  width: 100%;
  height: 100vh;
}
.full-screen{
  width: 100vw;
  height: 100vh;
}
.title-blog {
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: -999999;
  visibility: hidden;  
}






