/* GRID */
@mixin container($width:$container){
  width: $width;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@mixin gutter($gutter:gutter()){
  padding-left: $gutter;
  padding-right: $gutter;
}

/* SPACE TEXT */
@mixin letterspacing($val, $font-size) {
  letter-spacing: (($val * $font-size) / 1000) * 1;
}

/* SPRITES */
@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  background-repeat: no-repeat;
}
