/* Clearfix */
.clearfix {
  *zoom:1;
  &:before,&:after{
    content:''; display:table;
  }
  &:after{
    clear: both;
  }
}

/* Align Vertical */
.align{
  display: table;
  width: 100%;
  .align-v {
    display: table-cell;
    vertical-align: middle;
  }
}

/* Visible device */
.only-desktop{
  @media (max-width: $width-mobile) {
    display: none !important;
  }
}
.only-mobile{
  @media (min-width: $width-mobile) {
    display: none !important;
  }
}
