// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-circle-white-name: 'arrow-circle-white';
$arrow-circle-white-x: 0px;
$arrow-circle-white-y: 171px;
$arrow-circle-white-offset-x: 0px;
$arrow-circle-white-offset-y: -171px;
$arrow-circle-white-width: 23px;
$arrow-circle-white-height: 22px;
$arrow-circle-white-total-width: 28px;
$arrow-circle-white-total-height: 221px;
$arrow-circle-white-image: '../img/layout/sprite.png';
$arrow-circle-white: (0px, 171px, 0px, -171px, 23px, 22px, 28px, 221px, '../img/layout/sprite.png', 'arrow-circle-white', );
$arrow-circle-name: 'arrow-circle';
$arrow-circle-x: 0px;
$arrow-circle-y: 95px;
$arrow-circle-offset-x: 0px;
$arrow-circle-offset-y: -95px;
$arrow-circle-width: 18px;
$arrow-circle-height: 18px;
$arrow-circle-total-width: 28px;
$arrow-circle-total-height: 221px;
$arrow-circle-image: '../img/layout/sprite.png';
$arrow-circle: (0px, 95px, 0px, -95px, 18px, 18px, 28px, 221px, '../img/layout/sprite.png', 'arrow-circle', );
$arrow-down-name: 'arrow-down';
$arrow-down-x: 0px;
$arrow-down-y: 151px;
$arrow-down-offset-x: 0px;
$arrow-down-offset-y: -151px;
$arrow-down-width: 20px;
$arrow-down-height: 20px;
$arrow-down-total-width: 28px;
$arrow-down-total-height: 221px;
$arrow-down-image: '../img/layout/sprite.png';
$arrow-down: (0px, 151px, 0px, -151px, 20px, 20px, 28px, 221px, '../img/layout/sprite.png', 'arrow-down', );
$arrow-name: 'arrow';
$arrow-x: 0px;
$arrow-y: 131px;
$arrow-offset-x: 0px;
$arrow-offset-y: -131px;
$arrow-width: 20px;
$arrow-height: 20px;
$arrow-total-width: 28px;
$arrow-total-height: 221px;
$arrow-image: '../img/layout/sprite.png';
$arrow: (0px, 131px, 0px, -131px, 20px, 20px, 28px, 221px, '../img/layout/sprite.png', 'arrow', );
$aviso-name: 'aviso';
$aviso-x: 0px;
$aviso-y: 59px;
$aviso-offset-x: 0px;
$aviso-offset-y: -59px;
$aviso-width: 18px;
$aviso-height: 18px;
$aviso-total-width: 28px;
$aviso-total-height: 221px;
$aviso-image: '../img/layout/sprite.png';
$aviso: (0px, 59px, 0px, -59px, 18px, 18px, 28px, 221px, '../img/layout/sprite.png', 'aviso', );
$check-black-name: 'check-black';
$check-black-x: 0px;
$check-black-y: 77px;
$check-black-offset-x: 0px;
$check-black-offset-y: -77px;
$check-black-width: 18px;
$check-black-height: 18px;
$check-black-total-width: 28px;
$check-black-total-height: 221px;
$check-black-image: '../img/layout/sprite.png';
$check-black: (0px, 77px, 0px, -77px, 18px, 18px, 28px, 221px, '../img/layout/sprite.png', 'check-black', );
$check-white-name: 'check-white';
$check-white-x: 0px;
$check-white-y: 41px;
$check-white-offset-x: 0px;
$check-white-offset-y: -41px;
$check-white-width: 18px;
$check-white-height: 18px;
$check-white-total-width: 28px;
$check-white-total-height: 221px;
$check-white-image: '../img/layout/sprite.png';
$check-white: (0px, 41px, 0px, -41px, 18px, 18px, 28px, 221px, '../img/layout/sprite.png', 'check-white', );
$facebook-name: 'facebook';
$facebook-x: 0px;
$facebook-y: 113px;
$facebook-offset-x: 0px;
$facebook-offset-y: -113px;
$facebook-width: 10px;
$facebook-height: 18px;
$facebook-total-width: 28px;
$facebook-total-height: 221px;
$facebook-image: '../img/layout/sprite.png';
$facebook: (0px, 113px, 0px, -113px, 10px, 18px, 28px, 221px, '../img/layout/sprite.png', 'facebook', );
$instagram-name: 'instagram';
$instagram-x: 0px;
$instagram-y: 12px;
$instagram-offset-x: 0px;
$instagram-offset-y: -12px;
$instagram-width: 14px;
$instagram-height: 14px;
$instagram-total-width: 28px;
$instagram-total-height: 221px;
$instagram-image: '../img/layout/sprite.png';
$instagram: (0px, 12px, 0px, -12px, 14px, 14px, 28px, 221px, '../img/layout/sprite.png', 'instagram', );
$plus-name: 'plus';
$plus-x: 0px;
$plus-y: 193px;
$plus-offset-x: 0px;
$plus-offset-y: -193px;
$plus-width: 28px;
$plus-height: 28px;
$plus-total-width: 28px;
$plus-total-height: 221px;
$plus-image: '../img/layout/sprite.png';
$plus: (0px, 193px, 0px, -193px, 28px, 28px, 28px, 221px, '../img/layout/sprite.png', 'plus', );
$twitter-name: 'twitter';
$twitter-x: 0px;
$twitter-y: 26px;
$twitter-offset-x: 0px;
$twitter-offset-y: -26px;
$twitter-width: 18px;
$twitter-height: 15px;
$twitter-total-width: 28px;
$twitter-total-height: 221px;
$twitter-image: '../img/layout/sprite.png';
$twitter: (0px, 26px, 0px, -26px, 18px, 15px, 28px, 221px, '../img/layout/sprite.png', 'twitter', );
$youtube-name: 'youtube';
$youtube-x: 0px;
$youtube-y: 0px;
$youtube-offset-x: 0px;
$youtube-offset-y: 0px;
$youtube-width: 18px;
$youtube-height: 12px;
$youtube-total-width: 28px;
$youtube-total-height: 221px;
$youtube-image: '../img/layout/sprite.png';
$youtube: (0px, 0px, 0px, 0px, 18px, 12px, 28px, 221px, '../img/layout/sprite.png', 'youtube', );
$spritesheet-width: 28px;
$spritesheet-height: 221px;
$spritesheet-image: '../img/layout/sprite.png';
$spritesheet-sprites: ($arrow-circle-white, $arrow-circle, $arrow-down, $arrow, $aviso, $check-black, $check-white, $facebook, $instagram, $plus, $twitter, $youtube, );
$spritesheet: (28px, 221px, '../img/layout/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
