/* Grid
========================================================================== */
$container: 1320px;
$cols: 12;
$gutter: 15px;
$gutterGallery: 20px;
$width-desktop-small: 1440px;
$width-tablet: 1024px;
$width-mobile: 768px;

/* Colors
========================================================================== */
$color-default: #D40E50;
$color-text: #2D2D2D;

// Manifest
$manifest-list:(
  (metodologia, $color-default, $color-default, 78px),
  (pessoas, $color-default, $color-default, 78px),
  (cultura, #F58225, #A3218E, 78px),
  (governanca, #A3218E, #01ACAC   , 78px),
  (futuros, #01ACAC, #A5CC54, 88px),
  (plataformas, #70BF42, #CF2D29, 70px),
  (estrategias, #ED403C, #0465B2, 70px),
  (negocios, #0465B2, #70BF42, 88px),
  (concorrencias, #3BC9AB, #8D50BC, 92px),
  (parcerias, #E464A1, #5B2D9F, 82px),
  (indicadores, #5B2D9F, #29BC9D, 74px),
  (criatividade, #FD6E5E, #0CD2ED, 100px),
  (riscos, #F8A51C, #293BDD, 100px),
  (continuum, #8F45EA, #F8A51C, 88px)
);